
<h1>Data Bindinbg</h1>

<!-- Event Binding -->

<button (click)="click">Click me!</button> <br>

<input type="text" (keyup)="submit()">

<!-- Interpolation -->

<h1>Name:{{name}}</h1>

<h3>Age:{{age}}</h3>

<!-- property binding -->

<button [disabled]="isData">submit</button> <br>
<input type="text" [value]="20"><br><br>

<!-- two way binding -->

<input type="text" [(ngModel)]="mobile" (keyup)="submit()">

<!-- calculator -->
 <div class="parent">

<h3>{{result}}</h3>
<label>Number 1:</label>
<input type="number" [(ngModel)]="num1"><br>
<label>Number 2;</label>
<input type="number" [(ngModel)]="num2"><br>
<button (click)="add()" [disabled]="!num1 || !num2">Add</button>
</div>
