<h1>Flipkart</h1>

<div class="bodyMain">
    <div id="parent" *ngFor="let flipkarts of flipkart">
       <div class="d1"><img class="i1" [src]="flipkarts.image" alt=""></div>
        <div class="d2">{{flipkarts.category}}</div><br>
        <div class="d3">{{flipkarts.title | slice:0:50}}</div><br>
        <div class="d4">{{flipkarts.price | balance}}</div><br>
        <div class="d5" ><app-rating [rating]="flipkarts.rating?.rate"></app-rating></div>
        <!-- <div class="d5" >{{filpkarts.rating.rate}}*</app-rating></div> -->
         
        </div>
    </div>

