<div class="parent">
    <div class="left">
        <div class="top">
            <h1>My Website</h1>
            <hr>
            <h3>Home</h3>
            <h3 routerLink="welcome">Welcome</h3>
            <h3>Data Handling</h3>
            <h3 routerLink="calculator">Calculator</h3>
            <h3 routerLink="rectangle">Rectangle</h3>
            <h3 routerLink="circle">Circle</h3>
            <h3 routerLink="bim">BMI</h3>
            <h3 routerLink="data-binding">Data Binding</h3>
            <h3 routerLink="cel-farnht">Cel-Farnht</h3>
            <h3 routerLink="simpleint">Simple Interest</h3>
            <h3 routerLink="emical">Emi Calculator</h3>
            <h3 routerLink="pinterest">Pinterest</h3>
            <h3 routerLink="accounts">Accounts</h3>
            <h3 routerLink="flipkart">Flipkart</h3>
            <hr><br><br><br>
        </div>

        <div class="bottom">
            <button routerLink="logout">Logout</button>
        </div>
    </div>

    <div class="right">
            <router-outlet></router-outlet>
    </div>
        

    </div>